#player-table {
    font-size: 24px;
    color: rgb(69, 69, 69);
    border-collapse: collapse;
    width: 100%;
    margin: 0px 5px;
}

.player-row:hover {
    cursor: pointer;
    background-color: rgb(239, 255, 239);
}

.selected-player-row {
    color: white;
    background-color: #5D9D73;
}

th {
    text-align: left;
    padding: 25px 0px;
}

#player-table > thead > tr > th > span {
    padding: 5px;
    background-color: rgb(193, 193, 193);
    font-weight: normal;
}

/*
.thead-title {
    padding: 5px;
    background-color: rgb(193, 193, 193);
    font-weight: normal;
}
*/
td {
    padding: 15px 5px;
}

tr {
    border-bottom: solid gray 2px;
}

.detail-row {
    border-left: solid rgb(175, 175, 175) 8px;
}

.debut {
    display: table-cell;
}

.jersey-number {
    color: #626262;
    font-style: italic;
    padding-left: 10px;
}

@media only screen and (max-width: 800px) {
    .debut {
        display: none;
    }

    #player-table {
        font-size: 18px;
    }
}


